<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Course Search</title>
    <link rel="stylesheet" th:href="@{/css/course.css}">
</head>
<script th:src="@{/js/course.js}"></script>
<body>
<h1>Search Course</h1>

<form th:action="@{/course/search}" method="get">
    <div>
        <label>Course ID:</label>
        <label>
            <input type="text" name="id" th:value="${param.id}">
        </label>
    </div>

    <div>
        <label>Course Name:</label>
        <label>
            <input type="text" name="name" th:value="${param.name}">
        </label>
    </div>

    <div>
        <label>Course Credit:</label>
        <label>
            <input type="number" name="credit" th:value="${param.credit}">
        </label>
    </div>

    <div>
        <label>Course Hours:</label>
        <label>
            <input type="number" name="hours" th:value="${param.hours}">
        </label>
    </div>

    <div>
        <label>Course Max Student Number:</label>
        <label>
            <input type="number" name="maxStudentNumber" th:value="${param.maxStudentNumber}">
        </label>
    </div>

    <div>
        <label>Course Time:</label><br>

        <div class="time-grid">
            <div th:each="t : ${timeList}">
                <label>
                    <input type="checkbox" name="time"
                           th:value="${t}"
                           th:checked="${param.time != null and param.time.contains(t)}">
                    <span th:text="${t}"></span>
                </label>
            </div>
        </div>
    </div>

    <div>
        <label>Course Building:</label>
        <label>
            <input type="text" name="buildingId" th:value="${param.buildingId}">
        </label>
    </div>

    <div>
        <label>Course Classroom:</label>
        <label>
            <input type="text" name="classroomStr" th:value="${param.classroomStr}">
        </label>
    </div>

    <div>
        <label>Course Instructor:</label>
        <label>
            <input type="text" name="instructorIdStr" th:value="${param.instructorIdStr}">
        </label>
    </div>

    <div>
        <label>Course Category:</label><br>

        <div class="category-grid">
            <div th:each="t : ${categoryList}">
                <label>
                    <input type="checkbox" name="category"
                           th:value="${t}"
                           th:checked="${param.category != null and param.category.contains(t)}">
                    <span th:text="${t}"></span>
                </label>
            </div>
        </div>
    </div>

    <div>
        <button type="submit">Search</button>
    </div>

</form>

<hr>

<h2>Search Result</h2>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Credit</th>
        <th>Hours</th>
        <th>Max Student Number</th>
        <th>Time</th>
        <th>Building</th>
        <th>Classroom</th>
        <th>Instructor</th>
        <th>Category</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody id="course">
    <tr th:each="course : ${courseList}" th:data-course-id="${course.id}">
        <td th:text="${course.id}"></td>
        <td th:text="${course.name}"></td>
        <td th:text="${course.credit}"></td>
        <td th:text="${course.hours}"></td>
        <td th:text="${course.maxStudentNumber}"></td>
        <td th:text="${course.time}"></td>
        <td th:text="${course.buildingId}"></td>
        <td th:text="${course.classroom}"></td>
        <td th:text="${course.instructorId}"></td>
        <td th:text="${course.category}"></td>
        <td>
            <span class="status"
                  th:attr="data-course-id=${course.id}">
                loading...
            </span>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
